// Navigation Styles here
nav{
    .flex(row, space-between);
    align-items: center;
    border-bottom: 2px dashed lightgrey;
    width: 100%;

    .logo{
        .flex(row, flex-start);
    }

    .links{
        .flex(row, space-around);
        margin: 2% 2%;

    }

    a{
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        margin: 4% 2%;
        width: 8rem;
        text-align: center;
    }


}